---
---

$header-bg-color: lighten(#e7672e, 15%);
$header-bg-color-secondary: darken(#e7672e, 15%);
$section-headings-color: #e7672e;

@import "{{ site.theme }}";

// fix color of link in header
.page-header .project-name a {
	color: $header-heading-color;
}

// disable horizontal scroll for too wide tables - this is more pragmatic in practice that partially visible table
.main-content table {
	overflow: visible;
}

del {
	color: #000000;
	background-color: #ffdddd;
	text-decoration: none;
}

ins {
	color: #000000;
	background-color: #ddffdd;
	text-decoration: none;
}
